<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Texas Accident Severity</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="#navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Traffic Accident Severity
            <span class="sr-only">(current)</span>
          </a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="indexml.html">Make Predictions</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visualizations</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="indextab1.html">Tableau 1</a>
                            <a class="dropdown-item" href="indextab2.html">Tableau 2</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="stats.html">Data Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="indexaboutus.html">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>

        <div class="about-section">
        </div>
        <h2 style="text-align:center">Our Team</h2>
        <p style="text-align:center">Meet our awesome team of four. Feel free to contact us via our emails below.</p>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- <div class="col-md-4"> -->
                <div class="card">
                    <img src="../static/images/ryan.jpg" alt="Ryan" style="width:50%">
                    <div class="container">
                        <h2>Ryan Permenter</h2>
                        <p>Ryan graduated from Texas Christian University in 2018 with a B.S in Criminal Justice. Ryan has experience in sales and marketing at Light Lab. In his spare time, he enjoys watching Dallas Stars games and lives within walking distance
                            of the American Airlines Center. Ryan also enjoys playing video games. </p>
                        <p>ryan.permenter@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <div class="col-md-4"> -->
                <div class="card">
                    <img src="../static/images/juveriya.jpg" alt="Juveriya" style="width:50%">
                    <div class="container">
                        <h2>Juveriya Baig</h2>
                        <p>Juveriya graduated college in 2020 from The University of Texas at Dallas with a Bachelor's in Marketing. She will be starting her Master's in Business Analytics in the fall of 2021 from SMU. In her free time, you can find Juveriya
                            embroidering, binging shows, and hanging out with her family and friends. </p>
                        <p>baigjuveriya@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- <div class="col-md-4"> -->
                <div class="card">
                    <img src="../static/images/angie.jpg" alt="Angie" style="width:50%">
                    <div class="container">
                        <h2>Angie Tran</h2>
                        <p>Angie graduated B.S in Hospitality Management and has been working 6 years+ in customer service industries. She found interest in telling hidden stories within datasets. In her free time, she enjoys playing and walking with her
                            corgi puppy.
                        </p>
                        <p>vietngan2210@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <div class="col-md-4"> -->
                <div class="card">
                    <img src="../static/images/chris.jpg" alt=" Chris" style="width:50%">
                    <div class="container">
                        <h2>Christopher Haub</h2>
                        <p>Christopher has 10 years of experience in managing mortgage loan pools for government-sponsored entities and private equity. Christopher graduated from the University of Oklahoma prior to moving to Dallas. He enjoys learning new
                            languages, most recently learning Mandarin. Christopher also enjoys fitness, including meditation, yoga, running, and HIIT workouts. </p>
                        <p>chrishaub@ymail.com</p>
                    </div>
                </div>
            </div>
        </div>